<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('includes/navg.ejs') %>

<main>
    <center><h2>Add a new genre</h2></center>
    <form class="product-form" action="http://localhost:3000/addgenre" method="POST">
        <div class="form-control">
            <% if(status == 404) {%>
                <p style="color:red;font-size:15px" >*Genre already present. Try adding a different genre.</p>
            <% } else if(status == 1) { %>
                <p style="color:green;font-size:15px" >Successfully added genre "<%=gn%>".</p>
            <% } %>
            <label for="genre">Genre</label>
            <input type="genre" name="genre" id="genre" value="">
        <button class="btn" type="submit">Add Genre</button>
    </div>
    </form>
</main>
<%- include('includes/end.ejs') %>