<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
<%- include('includes/navigation.ejs') %>

<main>
    <form class="product-form" action="http://localhost:3000/login" method="POST">
    	<div class="form-control">
            <% if(status == 401) { %>
                <p style="color:red;font-size:15px">*Please enter correct username and password.</p>
            <% } %>
            <label for="username">UserName</label>
            <input type="text" name="username" id="username" value="">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" value="">
        </div>
        <button class="btn" type="submit">Login</button>
    </form>
</main>
<%- include('includes/end.ejs') %>